/* -- General -- */

body {
    font-family: "Roboto", sans-serif;
    font-size: 80%;
    line-height: 1.2em;
    width: 100%;
    margin: 0;
    background: #eee;
}

p {
    line-height: 1em;
}

h1 {
    font-size: 2.25em;
    font-weight: normal;
    line-height: 1.1em;
    margin: 0 0 .5em 0;
}

.center {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}


/* --  page default -- */

#page {
    margin: 20px;
}

#nav {
    width: 100%;
    display: inline-block;
    text-align: right;
    float: left;
}

#nav ul li {
    display: inline-block;
    height: 35px;
}

#nav ul li a {
    padding: 20px;
    background: orange;
}

#nav ul li a:hover {
    background-color: #ffb424;
    box-shadow: 0px 1px 1px #666;
}

#nav ul li a:active {
    background-color: #ff8f00;
}

.title {
    width: 100%;
    left: 0;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 30px;
    display: inline-block;
    color: grey;
}

#content {
    margin: 20px 0;
    background: white;
    padding: 20px;
    clear: both;
}

#content,
.button {
    box-shadow: 0px 1px 1px #999;
}

#footer {
    border-bottom: 1px #ccc solid;
    margin-top: 20px;
    margin-bottom: 10px;
}

#footer p {
    text-align: right;
    text-transform: uppercase;
    font-size: 80%;
    color: grey;
}


/* -- Game layout -- */

canvas,
#board {
    border: 3px solid grey;
    display: inline-block;
}

#container {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

.info {
    float: left;
    color: gray;
    font-size: 20px;
    margin-right: 3px;
    margin-top: 5px;
}

#game,
.right,
.left {
    display: inline-block;
    vertical-align: top;
}

.left {
    margin-top: 5px;
    height: 40px;
    display: inline-block;
    float: left;
}

#game-info {
    height: 25px;
    display: inline-block;
}

#game-info:hover {
    opacity: 0.8;
}

#mine-img {
    display: inline-block;
    margin-right: 5px;
    width: 25px;
    height: 25px;
}


/* -- timer -- */

.timer {
    display: inline-block;
    text-align: center;
    color: gray;
    margin-left: 5px;
    opacity: 0.9;
}

.timer p {
    color: #3d3b3c;
    margin-top: 0;
    margin-bottom: 2px;
    font-weight: bold;
    opacity: 1;
}

.timer timer:hover {
    color: #0099FF;
}


.clearfix{
    clear:both;
}

/* -- Alert -- */

#alertContainer {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
}

#alertBox {
    width: 350px;
    height: 250px;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.alertBox-img {
    width: 100px;
    height: 100px;
    border: 0;
    margin-top: 15px;
    padding-left: 125px;
}

#alertBox h1 {
    text-align: left;
    margin: 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    height: 15%;
    color: white;
    padding: 2px 0 2px 5px;
}

#alertBox p {
    text-align: center;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}

#alertBox .button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
    width: 20%;
    text-transform: uppercase;
    background-color: #97DBDB;
}

#alertBox .button:hover {
    background-color: #9be0e0;
}

a.button {
    text-decoration: none;
}

.button {
    border-radius: 3px;
    text-align: center;
    color: white;
}

.button:hover {
    box-shadow: 0px 1px 1px #666;
}
