body {
    font-family: "Roboto", sans-serif;
    line-height: 1.2em;
    font-size: 1em;
    background: #eee;
    margin: 0;
    padding: 0;
}

p {
    line-height: 1em;
}

a {
    text-decoration: none;
    color: orange;
}

h1 {
    font-size: 2.25em;
    font-weight: normal;
    line-height: 1.1em;
    margin: 0 0 .5em 0;
}

.img-info {
    display: inline-block;
    width: 1.15em;
    margin-bottom: -3px;
}

/* -- flex -- */

.flex-parent {
    display: flex;
    flex-direction: column;
    min-height: 95vh;
}

.flex-container {
    flex: 1 1 auto;
}

.flex-nav-container {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
}

.item-1 {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 400px) {
    .separator {
        height: 0;
        width: 100%;
        flex-basis: 100%;
        background-color: blue;
        order: 2;
    }

    .item-1 {
        order: 3;
        margin-top: 2.5em;
    }
}


/* --  page default -- */

#page {
    margin: 20px;
}

#nav {
    width: 100%;
    margin-bottom: 20px;
    vertical-align: top;
}


.title {
    width: 100%;
    left: 0;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 30px;
    color: grey;
}

#content {
    margin: 20px 0;
    background: white;
    padding: 20px;
    border-radius: 3px;
}

#content,
.button {
    box-shadow: 0 1px 1px #999;
}

#nav .menu {
    display: inline-block;
    margin-bottom: 3px;
}

#nav .menu a {
    padding: 20px;
    background: orange;
    margin-right: 2px;
}

#nav .menu a:hover {
    background-color: #ffb424;
    box-shadow: 0 1px 1px #666;
}

#nav .menu a:active {
    background-color: #ff8f00;
}

#footer {
    text-align: right;
    margin: 10px;
    border-bottom: 1px #ccc solid;
}


#footer p {
    text-align: right;
    text-transform: uppercase;
    font-size: 80%;
    color: grey;

}


/* -- Game layout -- */

canvas,
#board {
    border: 3px solid grey;
}

#container {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

#mines.info {
    color: gray;
    font-size: 20px;
    margin-right: 17px;
}

#game-info {
    height: 25px;
}

#game-info:hover {
    opacity: 0.8;
}

#mine-img {
    vertical-align: bottom;
    width: 25px;
}


/* -- timer -- */

.timer {
    color: gray;
    opacity: 0.9;
}

.timer p {
    color: #3d3b3c;
    margin-top: 0;
    margin-bottom: 2px;
    font-weight: bold;
    opacity: 1;
}

.timer timer:hover {
    color: #0099FF;
}


/* -- Alert -- */

#alertContainer {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
}

#alertBox {
    width: 350px;
    height: 250px;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.alertBox-img {
    width: 100px;
    height: 100px;
    border: 0;
    margin-top: 15px;
}

#alertBox h1 {
    text-align: left;
    margin: 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    height: 15%;
    color: white;
    padding: 2px 0 2px 5px;
}

#alertBox p {
    text-align: center;
    font-weight: bold;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}

#alertBox .button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
    width: 20%;
    text-transform: uppercase;
    background-color: #97DBDB;
}

#alertBox .button:hover {
    background-color: #9be0e0;
}

a.button {
    text-decoration: none;
}

.button {
    border-radius: 3px;
    text-align: center;
    color: white;
}

.button:hover {
    box-shadow: 0 1px 1px #666;
}
