* {
    padding: 0;
    margin: 0;
    position: relative;
}

h1 {
    font-family: "Calibri";
    text-align: center;
    color: #FAFCFC;
    background-color: #505A5C;
    box-shadow: 0 5px #005A5C;
}

canvas,
#board {
    font-family: "Calibri";
    border: 5px solid grey;
}

#container {
    text-align: center;
    margin-top: 5px;
    width: 100%;
    float: left;
    min-width: 550px;
}

#game,
#right,
#left {
    display: inline-block;
    vertical-align: top;
}


#info {
    float: right;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 20px;
    margin-right: 5px;
    height: auto;
}

#game_info {
    margin: 3px;
    height: 25px;
}

#mine_img {
    float: right;
    vertical-align: middle;
    width: 25px;
    height: 25px;
}
