* {
    padding: 0;
    margin: 0;
 }

h1 {
    font-family: "Calibri";
    text-align: center;
    color: white;
    background-color: grey;
}

canvas {
    font-family: "Calibri";
    background: #eee;
    display: block;
    margin: 0 auto;
    border:5px solid grey;
}